<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<TITLE>Ruby on Rails</TITLE>
	</HEAD>
 
	<BODY>
		  <table>
			<tr>
			  <td>
				<h1>Hello again!</h1>
				<h2>This is using Ruby 2.6.10 and Rails 5.2.8</h2>
				<input type="button" onclick="getData()">Get random pokemon</input>
				<p id='pokemon'></p>
				<img id="poke" />
			  </td>
			</tr>
		  </table>
		  <script>
		  
		  async function getData() {
			const url = "https://pokeapi.co/api/v2/pokemon/"
			let rand = Math.floor(Math.random() * (151)) + 1; 
			try {
				const response = await fetch(url + rand);
				if (!response.ok) {
					throw new Error(`Response status: ${response.status}`);
				}

				const json = await response.json();
				let div = document.getElementById("pokemon")
				let img = document.getElementById("poke")
				div.innerHTML = json["name"]
				img.src = json["sprites"]["versions"]["generation-v"]["black-white"]["animated"]["front_default"]
				console.log(json);
			} catch (error) {
				console.error(error.message);
			}
		  }
		  </script>
	</BODY>
</HTML>